.Sign-Container {
  display: flex;
  align-items: center;
}
.Sign-Container .Sign-btn {
  margin: 0px 30px;
}
.Sign-Container .Sign-btn {
  border: 0.5px solid rgba(128, 128, 128, 0.397);
  padding: 7px 16px;
  border-radius: 30px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(1, 123, 163);
  cursor: pointer;
}
.Sign-btn span {
  padding-right: 5px;
}
.Sign-btn:hover {
  background-color: lightblue;
}
.Sign-Container .menuDots {
  cursor: pointer;
}
.log-out {
  margin-left: 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.397);
  padding: 7px 16px;
  border-radius: 30px;
  text-decoration: none;
  align-items: center;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(1, 123, 163);
  cursor: pointer;
}
.userName {
  margin-left: 20px;
}
