/* Sidebar container */
.sidebar {
  width: 250px;
  height: 95vh;
  background-color: #fff;
  position: fixed;
  overflow-y: hidden;
  transition: all 0.3s ease;
}

.sidebar.open1 {
  transform: translateX(0);
}
.sidebar.collapsed1 {
  width: 0px;
}

.sidebar.collapsed:hover {
  overflow-y: hidden;
}
.sidebar.collapsed .sidebar-item p {
  padding-right: 10px;
  padding-top: 15px;
}
.sidebar.collapsed .sidebar-item {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: center;
}

.sidebar-item svg {
  margin-right: 15px;
  font-size: 20px;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.sidebar.collapsed .sidebar-item span {
  display: none;
}
.sidebar.collapsed .sidebar-section h4 {
  display: none; /* Hide headings in collapsed mode */
}

.sidebar:hover {
  overflow-y: auto;
}

/* Scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-height: 30px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Scrollbar track */
}

.sidebar-section {
  margin-bottom: 15px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 15px;
  color: #606060;
  cursor: pointer;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: bold;
}

.sidebar-item.active {
  background-color: #e8f0fe;
  color: #000;
  border-radius: 5px;
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: #909090;
  margin-bottom: 8px;
  padding-left: 15px;
}

.sign-in-section p {
  font-size: 13px;
  color: #606060;
  margin: 0 0 10px 0;
  padding-left: 15px;
}

.sign-in-btn {
  background-color: transparent;
  color: black;
  font-size: 14px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  padding: 10px 0;
  margin-left: 20px;
  border-radius: 20px;
  color: #005bb5;
  width: 100px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sign-in-btn svg {
  margin-right: 8px;
}

.sign-in-btn:hover {
  background-color: #005bb556;
}
.sidebar-item span {
  margin-left: 7px;
}
.sidebar.collapsed .sign-in-section {
  display: none;
}
.sidebar.collapsed .explore {
  display: none;
}
.sidebar.collapsed .More {
  display: none;
}
.sidebar.collapsed .Setting {
  display: none;
}
