* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding-top: 80px;
}
/* Adjust padding when sidebar is open */
.appcontainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 40px;
  transition: margin-left 0.3s ease;
}

/* When the sidebar is open */
.sidebar-open .appcontainer {
  margin-left: 180px; /* Match sidebar's width */
}
.sidebar-open .card {
  flex: 0 0 370px;
}

/* When the sidebar is collapsed */
.sidebar-collapsed .appcontainer {
  margin-left: 20px;
}
.sidebar {
  z-index: 1;
}

.appcontainer {
  z-index: 2;
}
