* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding-top: 80px;
}
/* Adjust padding when sidebar is open */
.appcontainer {
  display: flex;
  flex-direction: column; /* Allow stacking vertically if needed */
  padding: 30px;
  margin-right: 40px; /* Adjust as needed */
  transition: margin-left 0.3s ease; /* Smooth transition */
}

/* When the sidebar is open */
.sidebar-open .appcontainer {
  margin-left: 180px; /* Match sidebar's width */
}
.sidebar-open .card {
  flex: 0 0 370px;
}

/* When the sidebar is collapsed */
.sidebar-collapsed .appcontainer {
  margin-left: 20px;
}
.sidebar {
  z-index: 1; /* Sidebar is behind the main content */
}

.appcontainer {
  z-index: 2; /* Content is in front of the sidebar */
}
